<!DOCTYPE html>
 
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #principal-header},
                                                ~{:: #principal-nav},
                                                ~{:: #principal-main-content},  
                                                ~{:: #principal-footer}
                                               )}">
                                                
<head>
    <title>Principal</title>
     
     <meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/estilo.css}" href="../../static/estilo.css"/>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
     
</head>
<body>

    <div id="principal-header">
       Principal
    </div>
     
    <div id="principal-nav" th:replace="~{/fragments/fragments :: nav-default}">
        Principal Nav
    </div>

    <div id="principal-main-content">
        <h2>Bienvenidos a mi exámen</h2>
        <p class="my-5">
        </p>
        <div>Acceso a datos</div>
        <br>
        <br>
    </div>

     
     
    <div id="principal-footer" th:include="~{/fragments/fragments :: copyright}">
        Footer de principal
    </div>
</body>
</html>